$gutter = 20px

$margin-micro = 5px
$margin-tiny = 10px
$margin-small = 20px
$margin-basic = 40px
$margin-mid = 60px
$margin-large = 100px

$font-size-large = 48px
$font-size-mid = 36px
$font-size-basic = 18px
$font-size-small = 12px

grid-maker(false, $gutter, s)

.container
  width: calc('100vw - ' + $gutter)

space-maker($margin-micro, $margin-tiny, $margin-small, $margin-basic, $margin-mid, $margin-large)

font-sizes($font-size-basic, false, $font-size-large, $font-size-mid, $font-size-small)

// ******************************************************

// BASIC

.page-section
  border-top: 1px solid $color-black
  padding-top: $margin-small
  margin-bottom: $margin-large
  &:first-child
    border-top: 0

.section-label
  font-size: $font-size-small
  text-transform: uppercase
  font-weight: bold
  margin-bottom: $margin-basic

.item-label
  padding-right: $margin-micro
  font-weight: bold
